{% extends 'template/layout.html.twig' %}

{% block page_contents %}

<div>
    <h2>Alert</h2>

    {#
        // If an attribute is dynamic, prefix the attribute with : or use the normal {{ }} syntax:
        <twig:Alert message="hello!" :user="user.id" />
        <twig:Alert message="hello!" user="{{ user.id }}" />
    #}

    {#
        // Pass object, array, or anything you imagine
        <twig:Alert :foo="{col: ['foo', 'oof']}" />
    #}

    {# 
        Note: Boolean props are converted using PHP's type juggling rules. The string 
            "false" is converted to the boolean true.

        // ❌ the string 'false' is converted to the boolean 'true'
        <twig:Alert message="..." withCloseButton="false" />

        // ✅ use the 'false' boolean value
        <twig:Alert message="..." withCloseButton="{{ false }}" />

        // ✅ use the dynamic syntax
        <twig:Alert message="..." :withCloseButton="false" />

        Set an attribute's value to true to render just the attribute name. Set an attribute's 
        value to false to exclude the attribute
    #}

    {#
        // To pass an array of attributes, use {{...}} spread operator syntax
        <twig:Alert {{ ...myAttributes }} />
    #}

    <div>
        <h3>Alert</h3>
        {# 
            Optionally, you can use the component() function to render a component:

            {{ component('Alert', {message: 'Hello Twig Components!'}) }} 
        #}

        {# 
            If you pass extra props that are not settable on your component class, 
            those can be rendered as attributes 

            Note: This would pass withCloseButton (true) props to the Alert component
        #}
        <twig:Alert 
            id="custom-alert-id" 
            message="Hello Twig Components!"
            withCloseButton 
        >
            {# 
                When you add content between the <twig:Alert> open and close tag, it's 
                passed to your component template as the block called content. 
            #}
            I'm writing <strong>HTML</strong> right here!
        </twig:Alert>
    </div>

    <div>
        <h3>SuccessAlert</h3>
        <twig:SuccessAlert message="Hello World!">

            {#
                When overriding the alert_message block, you have access to the message variable
            #}
            <twig:block name="alert_message">
                I can override the alert_message block and access the {{ message }} too!
            </twig:block>

        </twig:SuccessAlert>
    </div>
</div>

<div>
    <h2>Button</h2>

    <div>
        <h3>Button:Primary</h3>
        <twig:Button:Primary />
    </div>

    <div>
        <h3>Button:Secondary (anonymous Components)</h3>
        <twig:Button:Secondary />
    </div>

    <div>
        <h3>Button: default (with html_cva() function)</h3>
        {# renders as: <button class="btn btn-primary btn-md">... #}
        <twig:Button>Click Me!</twig:Button>
    </div>

    <div>
        <h3>Button: secondary and large (with html_cva() function)</h3>
        {# renders as: <button class="btn btn-secondary btn-lg">... #}
        <twig:Button color="secondary" size="lg">Click Me!</twig:Button>
    </div>

    <div>
        <h3>Button: primary and small with a custom class (with html_cva() function)</h3>
        {# renders as: <button class="btn btn-primary btn-sm custom-class">... #}
        <twig:Button size="sm" class="custom-class">Click Me!</twig:Button>
    </div>
</div>

<div>
    <h2>Products</h2>
    <div>
        <h3>Products (with dependency injection)</h3>
        <twig:Products />
    </div>
</div>

<div>
    <h2>Menu</h2>
    <div>
        <h3>Menu (with nested components)</h3>
        <twig:Menu>
            <twig:Menu:Item href="/" label="Home"></twig:Menu:Item>
            <twig:Menu:Item href="/about" label="About"></twig:Menu:Item>
        </twig:Menu>
    </div>
</div>
{% endblock %}
