{% macro message_formatter(message) %}
    <strong>{{ message }}</strong>
{% endmacro %}

{% macro placeholder(props) %}
    {# This content will (only) be rendered as loading content #}
    <span class="loading-row">Loading stage: {{props.message}}</span>
{% endmacro %}

{#
    ALL variables from the upper component are available inside the content of the 
    lower component. However, because variables are merged, any variables with the 
    same name are overridden by the lower component.

    Inside of <twig:Component>, the `this` variable represents the component you're 
    now rendering and you have access to all of that component's variables.

    When you need access to some properties or functions from higher components, that 
    can be done via the `outerScope` variable.

    You can keep referring to components higher up as well. Just add another outerScope:
    `outerScope.outerScope`
#}
<div 
    {{ attributes.defaults({'data-controller': 'alert'}) }}
    
    {# data-controller="alert" #}

    {# 
        // Optionally,
        {{ stimulus_controller('alert') }} 
    #}

    {# 
        To render the attributes, use the special attributes variable that's available 
        in every component template 
    #}
    {{ attributes }}

    {# 
        In your component template, you can set defaults that are merged with passed 
        attributes. The passed attributes override the default with the exception of 
        class. For class, the defaults are prepended
    #}
    {{ attributes.defaults({class: 'alert alert-' ~ type}) }}

    {# 
        You can take full control over the attributes that are rendered by using the 
        render() method

        Note:
        1. You need to be sure to call your render() methods before calling {{ attributes }} 
            or some attributes could be rendered twice
        2. If you add an attribute without calling render(), it will be rendered twice
    #}
    style="{{ attributes.render('style') }} display:block;"

    {#
        Extract specific attributes and discard the rest
    #}
    {{ attributes.only('class') }}

    {#
        Exclude specific attributes
    #}
    attributes.without('class')

    {#
        Nested attributes:

        In Twig component (e.g. Dialog):
            <div {{ attributes }}>
                <div {{ attributes.nested('title') }}>
                    {% block title %}Default Title{% endblock %}
                </div>
            </div>

        Render as:
            <twig:Dialog class="foo" title:class="bar" />
    #}
    {{ attributes.nested('title') }}

    {#
        If a component is heavy to render, you can defer rendering it until after the page 
        has loaded
    #}
    loading="defer"

    {#
        `loading="lazy"` defers the loading of the component until it's in the viewport. This 
        is useful for components that are far down the page and are not needed until the user 
        scrolls to them.
    #}
>
    <div>
        <h4>Message</h4>

        {% if _errors.has('message') %}
            <div class="error" style="color: red;">
                {{ _errors.get('message') }}
            </div>
        {% endif %}

        <!-- component HTML -->
        {{ message }}

        {# 
            In the template, the Alert instance is available via the `this` variable and 
            public properties are available directly 
        #}
        {# {{ this.message }} #}
    </div>

    {#
        Using macro
    #}
    <div>
        <h4>Message with macro</h4>
        {% from 'components/Alert.html.twig' import message_formatter %}
        {{ message_formatter(message) }}
    </div>

    <div>
        <h4>Block: content and footer</h4>
        {# 
            When you add content between the <twig:Alert> open and close tag, it's 
            passed to your component template as the block called content. 
        #}
        {% block content %}{% endblock %}

        {% block footer %}
            {# Render the default content if needed #}
            {# {{ parent() }}  #}
        {% endblock %}
    </div>

    {#
        // Instead of hiding or showing an entire element, you could add or remove a class
        
        // Add this class when loading
        <div data-loading="addClass(opacity-50)"></div>

        // Remove this class when loading
        <div data-loading="removeClass(opacity-50)"></div>

        // Add the "disabled" attribute when loading

        // Note: The addAttribute() and removeAttribute() functions only work with empty HTML 
        // attributes (disabled, readonly, required, etc.)

        <div data-loading="addAttribute(disabled)"></div>

        // Note: You can also combine any number of directives by separating them with a space
        <div data-loading="addClass(opacity-50) addAttribute(disabled)"></div>

        // You can add the delay modifier to not trigger the loading changes until loading has 
        // taken longer than a certain amount of time (default 200ms) 

        <div data-loading="delay(500)|show">Loading</div>
    #}

    <div>
        <h4>data-loading: triggered on action</h4>
        <p>
            {# Shows for any Live Component request #}
            <span data-loading="show">Loading</span>

            {# Show only when the "saveForm" action is triggering #}
            <span data-loading="action(saveForm)|show">Saving...</span>
        </p>
        <button
            type="button"
            data-action="live#action"

            {#
                The debounce(300) adds 300ms of "debouncing" before the action is executed. In other 
                words, if you click really fast 5 times, only one Ajax request will be made!
            #}
            data-live-action-param="debounce(300)|saveForm"

            {#
                You can also pass arguments to your action by adding each as a Stimulus action parameter.
                In your component, to allow each argument to be passed, add the #[LiveArg] attribute
            #}
            data-live-id-param="123"

            {# 
                Submitting an empty message to trigger the validation error 
                Validation happens in the App\Twig\Components\Alert:saveForm method
            #}
            data-live-message-param=""

            data-loading="action(saveForm)|addAttribute(disabled)"
        >Save form</button>
    </div>

    <div>
        <h4>data-loading: triggered on model change</h4>
        <input data-model="message" type="text">

        <span data-loading="model(message)|show">
            Checking if message is available...
        </span>

        <!-- multiple modifiers & child properties -->
        <span data-loading="model(message)|delay|addClass(opacity-50)">...</span>
    </div>
</div>
